body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom right, #f0f0f0, #d0d0d0);
    overflow: hidden; /* スクロールバーを非表示にする */
}

h1 {
    font-size: 3.5rem;
    color: #333;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

p {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 30px;
}

#keyboard {
    position: relative;
    display: flex;
    border-radius: 5px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    padding: 20px;
    background-color: #eee;
    width: fit-content;
}

.key {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.1s ease-in-out, transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    padding-bottom: 10px;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
    position: relative;
}

.white-key {
    width: 70px;
    height: 250px;
    border: 1px solid #888;
    background: linear-gradient(to bottom, #fff, #eee);
    margin-left: -1px;
    margin-right: -1px;
    z-index: 0;
}

.black-key {
    width: 40px;
    height: 150px;
    background: linear-gradient(to bottom, #333, #111);
    color: #fff;
    position: absolute;
    top: 20px;
    z-index: 1;
    border: 1px solid #000;
    border-radius: 3px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    padding-bottom: 8px;
    font-size: 0.8rem;
    color: transparent;
}


/* 黒鍵の位置を調整（data-note属性で個別指定） */
#keyboard .black-key[data-note="c#3"] { left: 55px; }
#keyboard .black-key[data-note="d#3"] { left: 125px; }
#keyboard .black-key[data-note="f#3"] { left: 265px; }
#keyboard .black-key[data-note="g#3"] { left: 335px; }
#keyboard .black-key[data-note="a#3"] { left: 405px; }


.key:hover {
    background: linear-gradient(to bottom, #f8f8f8, #ddd);
}

.key:active, .playing {
    transform: translateY(2px);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    border-top: 1px solid #bbb;
}

.white-key:active, .white-key.playing {
    background: linear-gradient(to bottom, #ccc, #eee);
}

.black-key:active, .black-key.playing {
    background: linear-gradient(to bottom, #111, #333);
    transform: translateY(1px);
    border-top: 1px solid #555;
}